In [1]:
import warnings
import time
warnings.filterwarnings('ignore')

import copy
import itertools

from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer
from sklearn.preprocessing import StandardScaler

from load_dataset import *
from savage import *
from pipelines import *

%reload_ext autoreload
%autoreload 2

## Import and Split data

In [2]:
dataset = 'adult'
# X_train, X_test, y_train, y_test = load(dataset, sample=True)
X_train, X_test, y_train, y_test = load(dataset)

In [3]:
# for Adult
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

In [4]:
# for Employee, Insurance, Credit Card, Concrete
# X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

In [5]:
# use sampling for efficiency
X_train = X_train.sample(frac=0.05, random_state=42)
X_test = X_test.sample(frac=0.05, random_state=42)
y_train = y_train.sample(frac=0.05, random_state=42)
y_test = y_test.sample(frac=0.05, random_state=42)
X_val = X_val.sample(frac=0.05, random_state=42)
y_val = y_val.sample(frac=0.05, random_state=42)

X_train_orig = copy.deepcopy(X_train).reset_index(drop=True)
X_test_orig = copy.deepcopy(X_test).reset_index(drop=True)
X_val_orig = copy.deepcopy(X_val).reset_index(drop=True)
y_train, y_test, y_val = y_train.reset_index(drop=True), y_test.reset_index(drop=True), y_val.reset_index(drop=True)

In [6]:
y_train

0       1
1       0
2       1
3       0
4       0
       ..
1503    1
1504    0
1505    0
1506    1
1507    0
Name: income, Length: 1508, dtype: int64

In [7]:
X_train

       age  workclass  education  marital  relationship  race  gender  hours
217      0          7         11        0             0     1       1      1
24913    0          7          8        2             1     0       1      0
17780    1          7          8        2             1     1       1      1
12484    0          7          8        2             1     1       1      1
8890     0          3         10        2             0     1       0      0
...    ...        ...        ...      ...           ...   ...     ...    ...
26575    1          7         14        2             1     1       1      0
3707     1          3          8        1             0     1       0      0
963      0          7          9        0             0     1       0      1
28875    0          7         10        2             1     1       1      1
3578     0          3          8        0             0     1       1      0

[1508 rows x 8 columns]

In [8]:
sens_attr = 'gender'

## Run SAVAGE

**Load predefined pipeline.**

In [9]:
rf = LogisticRegression(random_state=42, max_iter=1000)
loaded_pipeline = make_pipeline_func('h2o', rf)

**Customized ML Pipeline: Impute with Iterative Imputer and Standardize, then train with non-differentiable random forest.**

In [10]:
def pipeline(X_train, y_train, X_test):
    # imputer = SimpleImputer(strategy='mean')
    imputer = IterativeImputer(random_state=42)
    model = LogisticRegression(random_state=42, max_iter=1000)
    X_train_imputed = imputer.fit_transform(X_train)
    ss = StandardScaler()
    ss.fit(X_train_imputed)
    model.fit(ss.transform(X_train_imputed), y_train)
    return model.predict_proba(ss.transform(X_test))

**Target Metric for Measuring Model Utility: AUC**

Design all metrics to be lower the worse

In [11]:
def auc(X_test, y_test, y_pred):
    return roc_auc_score(y_test, y_pred[:, 1])

**Target Metric for Measuring Model Unfairness: EOD**

In [12]:
# Equality of opportunity difference (EOD)
def eod(X_test, y_test, y_pred):
    # negative making sure lower the worse
    return -abs(np.mean(y_pred[X_test[((X_test[sens_attr] == 1) & (y_test == 1))].index][:, 1]) - \
                np.mean(y_pred[X_test[((X_test[sens_attr] == 0) & (y_test == 1))].index][:, 1]))

**Task: what is the worst-case harm caused by 10% of systematic missing data?**

In [13]:
# clean AUC
clean_auc = auc(X_test_orig, y_test, pipeline(X_train_orig, y_train, X_test_orig))
print(f'Clean AUC: {clean_auc}')

# clean EOD
clean_eod = eod(X_test_orig, y_test, pipeline(X_train_orig, y_train, X_test_orig))
print(f'Clean EOD: {clean_eod}')

Clean AUC: 0.8537699615928845
Clean EOD: -0.2377067126602436

In [14]:
# maximum number of missing data
budget_pct = 0.3
budget = int(X_train_orig.shape[0] * budget_pct)

In [15]:
# take top-3 patterns
top_k = 3

In [16]:
top_results = run_beam_search(X_train_orig, X_test_orig, y_train, y_test, pipeline, auc, budget, clean_auc, top_k=top_k)

Start Beam Search...

Beam search rounds:   0%|          | 0/2 [00:00<?, ?it/s]

Round 1 candidates:   0%|          | 0/1 [00:00<?, ?it/s]

Expanding candidate ['Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: age, id: 0, cols: ('age', 'Y')
Trial 0: Found pattern for 382 rows, injecting 382 errors.
Trial 1: Found pattern for 314 rows, injecting 314 errors.
Trial 3: Found pattern for 474 rows, injecting 452 errors.
Trial 5: Found pattern for 222 rows, injecting 222 errors.
Trial 7: Found pattern for 812 rows, injecting 452 errors.
Trial 12: Found pattern for 160 rows, injecting 160 errors.
Injected 160 errors (10.61%). Best value: 0.78448
target_col: workclass, id: 1, cols: ('workclass', 'Y')
Trial 0: Found pattern for 342 rows, injecting 342 errors.
Trial 1: Found pattern for 32 rows, injecting 32 errors.
Trial 2: Found pattern for 257 rows, injecting 257 errors.
Trial 3: Found pattern for 33 rows, injecting 33 errors.
Trial 4: Found pattern for 85 rows, injecting 85 errors.
Trial 5: Found pattern for 146 rows, injecting 146 errors.
Trial 7: Found pattern for 1355 rows, injecting 452 errors.
Trial 8: Found pattern for 32 rows, injecting 32 errors.
Trial 9: Found pattern for 24 rows, injecting 24 errors.
Trial 11: Found pattern for 382 rows, injecting 382 errors.
Trial 13: Found pattern for 85 rows, injecting 85 errors.
Trial 14: Found pattern for 290 rows, injecting 290 errors.
Injected 290 errors (19.23%). Best value: 0.83889
target_col: education, id: 2, cols: ('education', 'Y')
Trial 0: Found pattern for 380 rows, injecting 380 errors.
Trial 1: Found pattern for 392 rows, injecting 392 errors.
Trial 2: Found pattern for 57 rows, injecting 57 errors.
Trial 3: Found pattern for 382 rows, injecting 382 errors.
Trial 4: Found pattern for 78 rows, injecting 78 errors.
Trial 5: Found pattern for 1100 rows, injecting 452 errors.
Trial 6: Found pattern for 155 rows, injecting 155 errors.
Trial 7: Found pattern for 15 rows, injecting 15 errors.
Trial 8: Found pattern for 76 rows, injecting 76 errors.
Trial 9: Found pattern for 1 rows, injecting 1 errors.
Trial 10: Found pattern for 368 rows, injecting 368 errors.
Trial 15: Found pattern for 87 rows, injecting 87 errors.
Trial 16: Found pattern for 319 rows, injecting 319 errors.
Trial 17: Found pattern for 15 rows, injecting 15 errors.
Trial 18: Found pattern for 323 rows, injecting 323 errors.
Trial 19: Found pattern for 161 rows, injecting 161 errors.
Injected 380 errors (25.20%). Best value: 0.80893
target_col: marital, id: 3, cols: ('marital', 'Y')
Trial 0: Found pattern for 358 rows, injecting 358 errors.
Trial 1: Found pattern for 282 rows, injecting 282 errors.
Trial 2: Found pattern for 326 rows, injecting 326 errors.
Trial 3: Found pattern for 742 rows, injecting 452 errors.
Trial 4: Found pattern for 416 rows, injecting 416 errors.
Trial 5: Found pattern for 24 rows, injecting 24 errors.
Trial 6: Found pattern for 32 rows, injecting 32 errors.
Trial 7: Found pattern for 428 rows, injecting 428 errors.
Trial 10: Found pattern for 1508 rows, injecting 452 errors.
Trial 11: Found pattern for 56 rows, injecting 56 errors.
Trial 12: Found pattern for 710 rows, injecting 452 errors.
Trial 16: Found pattern for 1126 rows, injecting 452 errors.
Trial 19: Found pattern for 1056 rows, injecting 452 errors.
Injected 428 errors (28.38%). Best value: 0.63517
target_col: relationship, id: 4, cols: ('relationship', 'Y')
Trial 0: Found pattern for 382 rows, injecting 382 errors.
Trial 1: Found pattern for 386 rows, injecting 386 errors.
Trial 3: Found pattern for 708 rows, injecting 452 errors.
Trial 5: Found pattern for 60 rows, injecting 60 errors.
Trial 7: Found pattern for 740 rows, injecting 452 errors.
Trial 12: Found pattern for 322 rows, injecting 322 errors.
Injected 386 errors (25.60%). Best value: 0.80837
target_col: race, id: 5, cols: ('race', 'Y')
Trial 0: Found pattern for 382 rows, injecting 382 errors.
Trial 1: Found pattern for 955 rows, injecting 452 errors.
Trial 3: Found pattern for 1309 rows, injecting 452 errors.
Trial 5: Found pattern for 28 rows, injecting 28 errors.
Trial 7: Found pattern for 171 rows, injecting 171 errors.
Trial 10: Found pattern for 1508 rows, injecting 452 errors.
Trial 14: Found pattern for 1126 rows, injecting 452 errors.
Injected 171 errors (11.34%). Best value: 0.73535
target_col: gender, id: 6, cols: ('gender', 'Y')
Trial 0: Found pattern for 382 rows, injecting 382 errors.
Trial 1: Found pattern for 688 rows, injecting 452 errors.
Trial 3: Found pattern for 1016 rows, injecting 452 errors.
Trial 5: Found pattern for 54 rows, injecting 54 errors.
Trial 7: Found pattern for 438 rows, injecting 438 errors.
Trial 10: Found pattern for 1508 rows, injecting 452 errors.
Trial 14: Found pattern for 1126 rows, injecting 452 errors.
Injected 438 errors (29.05%). Best value: 0.59418
target_col: hours, id: 7, cols: ('hours', 'Y')
Trial 0: Found pattern for 382 rows, injecting 382 errors.
Trial 1: Found pattern for 284 rows, injecting 284 errors.
Trial 3: Found pattern for 476 rows, injecting 452 errors.
Trial 5: Found pattern for 190 rows, injecting 190 errors.
Trial 7: Found pattern for 842 rows, injecting 452 errors.
Trial 12: Found pattern for 192 rows, injecting 192 errors.
Injected 284 errors (18.83%). Best value: 0.79078
----------- ROUND BEST -----------
[(['gender', 'Y'], 0.5941782898726501), (['marital', 'Y'], 0.6351728320194057), (['race', 'Y'], 0.7353547604608854)]
----------------------------------

Round 2 candidates:   0%|          | 0/3 [00:00<?, ?it/s]

Expanding candidate ['gender', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: gender, id: 6, cols: ('gender', 'age', 'Y')
Trial 0: Found pattern for 160 rows, injecting 160 errors.
Trial 1: Found pattern for 54 rows, injecting 54 errors.
Trial 2: Found pattern for 328 rows, injecting 328 errors.
Trial 3: Found pattern for 36 rows, injecting 36 errors.
Trial 4: Found pattern for 125 rows, injecting 125 errors.
Trial 5: Found pattern for 143 rows, injecting 143 errors.
Trial 6: Found pattern for 688 rows, injecting 452 errors.
Trial 7: Found pattern for 142 rows, injecting 142 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 328 errors (21.75%). Best value: 0.82082
target_col: gender, id: 6, cols: ('gender', 'workclass', 'Y')
Trial 0: Found pattern for 941 rows, injecting 452 errors.
Trial 1: Found pattern for 1295 rows, injecting 452 errors.
Trial 2: Found pattern for 39 rows, injecting 39 errors.
Trial 3: Found pattern for 46 rows, injecting 46 errors.
Trial 4: Found pattern for 6 rows, injecting 6 errors.
Trial 5: Found pattern for 32 rows, injecting 32 errors.
Trial 6: Found pattern for 33 rows, injecting 33 errors.
Trial 7: Found pattern for 17 rows, injecting 17 errors.
Trial 8: Found pattern for 4 rows, injecting 4 errors.
Trial 9: Found pattern for 76 rows, injecting 76 errors.
Trial 10: Found pattern for 744 rows, injecting 452 errors.
Trial 12: Found pattern for 54 rows, injecting 54 errors.
Trial 15: Found pattern for 37 rows, injecting 37 errors.
Trial 17: Found pattern for 841 rows, injecting 452 errors.
Trial 18: Found pattern for 322 rows, injecting 322 errors.
Trial 19: Found pattern for 21 rows, injecting 21 errors.
Injected 54 errors (3.58%). Best value: 0.83715
target_col: gender, id: 6, cols: ('gender', 'education', 'Y')
Trial 0: Found pattern for 90 rows, injecting 90 errors.
Trial 1: Found pattern for 719 rows, injecting 452 errors.
Trial 2: Found pattern for 53 rows, injecting 53 errors.
Trial 3: Found pattern for 71 rows, injecting 71 errors.
Trial 4: Found pattern for 39 rows, injecting 39 errors.
Trial 5: Found pattern for 76 rows, injecting 76 errors.
Trial 6: Found pattern for 3 rows, injecting 3 errors.
Trial 7: Found pattern for 2 rows, injecting 2 errors.
Trial 9: Found pattern for 281 rows, injecting 281 errors.
Trial 10: Found pattern for 909 rows, injecting 452 errors.
Trial 11: Found pattern for 257 rows, injecting 257 errors.
Trial 12: Found pattern for 244 rows, injecting 244 errors.
Trial 15: Found pattern for 319 rows, injecting 319 errors.
Trial 16: Found pattern for 328 rows, injecting 328 errors.
Trial 17: Found pattern for 1008 rows, injecting 452 errors.
Trial 18: Found pattern for 49 rows, injecting 49 errors.
Trial 19: Found pattern for 71 rows, injecting 71 errors.
Injected 328 errors (21.75%). Best value: 0.82082
target_col: gender, id: 6, cols: ('gender', 'marital', 'Y')
Trial 0: Found pattern for 326 rows, injecting 326 errors.
Trial 1: Found pattern for 54 rows, injecting 54 errors.
Trial 2: Found pattern for 328 rows, injecting 328 errors.
Trial 3: Found pattern for 9 rows, injecting 9 errors.
Trial 4: Found pattern for 191 rows, injecting 191 errors.
Trial 5: Found pattern for 56 rows, injecting 56 errors.
Trial 6: Found pattern for 24 rows, injecting 24 errors.
Trial 7: Found pattern for 367 rows, injecting 367 errors.
Trial 8: Found pattern for 91 rows, injecting 91 errors.
Trial 9: Found pattern for 357 rows, injecting 357 errors.
Trial 10: Found pattern for 313 rows, injecting 313 errors.
Trial 13: Found pattern for 292 rows, injecting 292 errors.
Trial 17: Found pattern for 771 rows, injecting 452 errors.
Injected 328 errors (21.75%). Best value: 0.82082
target_col: gender, id: 6, cols: ('gender', 'relationship', 'Y')
Trial 0: Found pattern for 322 rows, injecting 322 errors.
Trial 1: Found pattern for 54 rows, injecting 54 errors.
Trial 2: Found pattern for 328 rows, injecting 328 errors.
Trial 3: Found pattern for 21 rows, injecting 21 errors.
Trial 4: Found pattern for 33 rows, injecting 33 errors.
Trial 5: Found pattern for 66 rows, injecting 66 errors.
Trial 6: Found pattern for 688 rows, injecting 452 errors.
Trial 7: Found pattern for 289 rows, injecting 289 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 328 errors (21.75%). Best value: 0.82082
target_col: gender, id: 6, cols: ('gender', 'race', 'Y')
Trial 0: Found pattern for 354 rows, injecting 354 errors.
Trial 1: Found pattern for 54 rows, injecting 54 errors.
Trial 2: Found pattern for 328 rows, injecting 328 errors.
Trial 3: Found pattern for 7 rows, injecting 7 errors.
Trial 4: Found pattern for 359 rows, injecting 359 errors.
Trial 5: Found pattern for 406 rows, injecting 406 errors.
Trial 6: Found pattern for 688 rows, injecting 452 errors.
Trial 7: Found pattern for 307 rows, injecting 307 errors.
Trial 10: Found pattern for 903 rows, injecting 452 errors.
Trial 14: Found pattern for 1309 rows, injecting 452 errors.
Trial 19: Found pattern for 1016 rows, injecting 452 errors.
Injected 359 errors (23.81%). Best value: 0.79749
target_col: gender, id: 6, cols: ('gender', 'hours', 'Y')
Trial 0: Found pattern for 192 rows, injecting 192 errors.
Trial 1: Found pattern for 54 rows, injecting 54 errors.
Trial 2: Found pattern for 328 rows, injecting 328 errors.
Trial 3: Found pattern for 33 rows, injecting 33 errors.
Trial 4: Found pattern for 81 rows, injecting 81 errors.
Trial 5: Found pattern for 102 rows, injecting 102 errors.
Trial 6: Found pattern for 688 rows, injecting 452 errors.
Trial 7: Found pattern for 171 rows, injecting 171 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 328 errors (21.75%). Best value: 0.82082

Expanding candidate ['marital', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: marital, id: 3, cols: ('marital', 'age', 'Y')
Trial 0: Found pattern for 152 rows, injecting 152 errors.
Trial 1: Found pattern for 24 rows, injecting 24 errors.
Trial 2: Found pattern for 326 rows, injecting 326 errors.
Trial 3: Found pattern for 16 rows, injecting 16 errors.
Trial 4: Found pattern for 135 rows, injecting 135 errors.
Trial 5: Found pattern for 151 rows, injecting 151 errors.
Trial 7: Found pattern for 136 rows, injecting 136 errors.
Trial 8: Found pattern for 25 rows, injecting 25 errors.
Trial 10: Found pattern for 742 rows, injecting 452 errors.
Trial 12: Found pattern for 289 rows, injecting 289 errors.
Trial 14: Found pattern for 474 rows, injecting 452 errors.
Trial 15: Found pattern for 154 rows, injecting 154 errors.
Trial 17: Found pattern for 1508 rows, injecting 452 errors.
Injected 289 errors (19.16%). Best value: 0.84993
target_col: marital, id: 3, cols: ('marital', 'workclass', 'Y')
Trial 0: Found pattern for 573 rows, injecting 452 errors.
Trial 1: Found pattern for 1295 rows, injecting 452 errors.
Trial 2: Found pattern for 27 rows, injecting 27 errors.
Trial 3: Found pattern for 58 rows, injecting 58 errors.
Trial 4: Found pattern for 2 rows, injecting 2 errors.
Trial 5: Found pattern for 7 rows, injecting 7 errors.
Trial 6: Found pattern for 83 rows, injecting 83 errors.
Trial 7: Found pattern for 3 rows, injecting 3 errors.
Trial 8: Found pattern for 13 rows, injecting 13 errors.
Trial 9: Found pattern for 290 rows, injecting 290 errors.
Trial 10: Found pattern for 508 rows, injecting 452 errors.
Trial 11: Found pattern for 257 rows, injecting 257 errors.
Trial 12: Found pattern for 40 rows, injecting 40 errors.
Trial 13: Found pattern for 65 rows, injecting 65 errors.
Trial 14: Found pattern for 499 rows, injecting 452 errors.
Trial 16: Found pattern for 698 rows, injecting 452 errors.
Trial 19: Found pattern for 87 rows, injecting 87 errors.
Injected 452 errors (29.97%). Best value: 0.84144
target_col: marital, id: 3, cols: ('marital', 'education', 'Y')
Trial 0: Found pattern for 61 rows, injecting 61 errors.
Trial 1: Found pattern for 719 rows, injecting 452 errors.
Trial 2: Found pattern for 33 rows, injecting 33 errors.
Trial 3: Found pattern for 227 rows, injecting 227 errors.
Trial 5: Found pattern for 100 rows, injecting 100 errors.
Trial 6: Found pattern for 56 rows, injecting 56 errors.
Trial 8: Found pattern for 36 rows, injecting 36 errors.
Trial 9: Found pattern for 84 rows, injecting 84 errors.
Trial 10: Found pattern for 656 rows, injecting 452 errors.
Trial 11: Found pattern for 3 rows, injecting 3 errors.
Trial 12: Found pattern for 579 rows, injecting 452 errors.
Trial 14: Found pattern for 370 rows, injecting 370 errors.
Trial 15: Found pattern for 985 rows, injecting 452 errors.
Trial 16: Found pattern for 561 rows, injecting 452 errors.
Trial 17: Found pattern for 39 rows, injecting 39 errors.
Trial 18: Found pattern for 600 rows, injecting 452 errors.
Trial 19: Found pattern for 592 rows, injecting 452 errors.
Injected 452 errors (29.97%). Best value: 0.84665
target_col: marital, id: 3, cols: ('marital', 'relationship', 'Y')
Trial 0: Found pattern for 322 rows, injecting 322 errors.
Trial 1: Found pattern for 24 rows, injecting 24 errors.
Trial 2: Found pattern for 326 rows, injecting 326 errors.
Trial 3: Found pattern for 24 rows, injecting 24 errors.
Trial 7: Found pattern for 322 rows, injecting 322 errors.
Trial 10: Found pattern for 382 rows, injecting 382 errors.
Trial 11: Found pattern for 56 rows, injecting 56 errors.
Trial 19: Found pattern for 32 rows, injecting 32 errors.
Injected 32 errors (2.12%). Best value: 0.85122
target_col: marital, id: 3, cols: ('marital', 'race', 'Y')
Trial 0: Found pattern for 334 rows, injecting 334 errors.
Trial 1: Found pattern for 24 rows, injecting 24 errors.
Trial 2: Found pattern for 326 rows, injecting 326 errors.
Trial 3: Found pattern for 4 rows, injecting 4 errors.
Trial 4: Found pattern for 233 rows, injecting 233 errors.
Trial 5: Found pattern for 264 rows, injecting 264 errors.
Trial 7: Found pattern for 303 rows, injecting 303 errors.
Trial 8: Found pattern for 352 rows, injecting 352 errors.
Trial 10: Found pattern for 1508 rows, injecting 452 errors.
Trial 11: Found pattern for 51 rows, injecting 51 errors.
Trial 12: Found pattern for 370 rows, injecting 370 errors.
Trial 14: Found pattern for 937 rows, injecting 452 errors.
Trial 15: Found pattern for 354 rows, injecting 354 errors.
Trial 17: Found pattern for 358 rows, injecting 358 errors.
Trial 18: Found pattern for 382 rows, injecting 382 errors.
Trial 19: Found pattern for 1056 rows, injecting 452 errors.
Injected 352 errors (23.34%). Best value: 0.81500
target_col: marital, id: 3, cols: ('marital', 'gender', 'Y')
Trial 0: Found pattern for 313 rows, injecting 313 errors.
Trial 1: Found pattern for 24 rows, injecting 24 errors.
Trial 2: Found pattern for 326 rows, injecting 326 errors.
Trial 3: Found pattern for 9 rows, injecting 9 errors.
Trial 4: Found pattern for 91 rows, injecting 91 errors.
Trial 5: Found pattern for 112 rows, injecting 112 errors.
Trial 7: Found pattern for 292 rows, injecting 292 errors.
Trial 8: Found pattern for 230 rows, injecting 230 errors.
Trial 11: Found pattern for 1016 rows, injecting 452 errors.
Trial 12: Found pattern for 36 rows, injecting 36 errors.
Trial 13: Found pattern for 321 rows, injecting 321 errors.
Trial 16: Found pattern for 367 rows, injecting 367 errors.
Trial 17: Found pattern for 358 rows, injecting 358 errors.
Injected 358 errors (23.74%). Best value: 0.84326
target_col: marital, id: 3, cols: ('marital', 'hours', 'Y')
Trial 0: Found pattern for 177 rows, injecting 177 errors.
Trial 1: Found pattern for 24 rows, injecting 24 errors.
Trial 2: Found pattern for 326 rows, injecting 326 errors.
Trial 3: Found pattern for 9 rows, injecting 9 errors.
Trial 4: Found pattern for 63 rows, injecting 63 errors.
Trial 5: Found pattern for 83 rows, injecting 83 errors.
Trial 7: Found pattern for 157 rows, injecting 157 errors.
Trial 8: Found pattern for 82 rows, injecting 82 errors.
Trial 11: Found pattern for 382 rows, injecting 382 errors.
Trial 12: Found pattern for 56 rows, injecting 56 errors.
Trial 18: Found pattern for 192 rows, injecting 192 errors.
Trial 19: Found pattern for 358 rows, injecting 358 errors.
Injected 358 errors (23.74%). Best value: 0.84326

Expanding candidate ['race', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: race, id: 5, cols: ('race', 'age', 'Y')
Trial 0: Found pattern for 160 rows, injecting 160 errors.
Trial 1: Found pattern for 28 rows, injecting 28 errors.
Trial 2: Found pattern for 354 rows, injecting 354 errors.
Trial 3: Found pattern for 19 rows, injecting 19 errors.
Trial 4: Found pattern for 48 rows, injecting 48 errors.
Trial 5: Found pattern for 57 rows, injecting 57 errors.
Trial 6: Found pattern for 955 rows, injecting 452 errors.
Trial 7: Found pattern for 151 rows, injecting 151 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 28 errors (1.86%). Best value: 0.83347
target_col: race, id: 5, cols: ('race', 'workclass', 'Y')
Trial 0: Found pattern for 941 rows, injecting 452 errors.
Trial 1: Found pattern for 1295 rows, injecting 452 errors.
Trial 2: Found pattern for 63 rows, injecting 63 errors.
Trial 3: Found pattern for 49 rows, injecting 49 errors.
Trial 4: Found pattern for 3 rows, injecting 3 errors.
Trial 5: Found pattern for 32 rows, injecting 32 errors.
Trial 6: Found pattern for 19 rows, injecting 19 errors.
Trial 7: Found pattern for 20 rows, injecting 20 errors.
Trial 8: Found pattern for 2 rows, injecting 2 errors.
Trial 9: Found pattern for 76 rows, injecting 76 errors.
Trial 10: Found pattern for 963 rows, injecting 452 errors.
Trial 13: Found pattern for 110 rows, injecting 110 errors.
Trial 17: Found pattern for 257 rows, injecting 257 errors.
Trial 18: Found pattern for 354 rows, injecting 354 errors.
Trial 19: Found pattern for 28 rows, injecting 28 errors.
Injected 28 errors (1.86%). Best value: 0.83347
target_col: race, id: 5, cols: ('race', 'education', 'Y')
Trial 0: Found pattern for 90 rows, injecting 90 errors.
Trial 1: Found pattern for 719 rows, injecting 452 errors.
Trial 2: Found pattern for 64 rows, injecting 64 errors.
Trial 3: Found pattern for 75 rows, injecting 75 errors.
Trial 4: Found pattern for 19 rows, injecting 19 errors.
Trial 5: Found pattern for 76 rows, injecting 76 errors.
Trial 6: Found pattern for 1 rows, injecting 1 errors.
Trial 7: Found pattern for 2 rows, injecting 2 errors.
Trial 9: Found pattern for 281 rows, injecting 281 errors.
Trial 10: Found pattern for 1172 rows, injecting 452 errors.
Trial 13: Found pattern for 3 rows, injecting 3 errors.
Trial 15: Found pattern for 7 rows, injecting 7 errors.
Trial 16: Found pattern for 20 rows, injecting 20 errors.
Trial 17: Found pattern for 1125 rows, injecting 452 errors.
Trial 18: Found pattern for 283 rows, injecting 283 errors.
Trial 19: Found pattern for 20 rows, injecting 20 errors.
Injected 20 errors (1.33%). Best value: 0.85252
target_col: race, id: 5, cols: ('race', 'marital', 'Y')
Trial 0: Found pattern for 326 rows, injecting 326 errors.
Trial 1: Found pattern for 28 rows, injecting 28 errors.
Trial 2: Found pattern for 354 rows, injecting 354 errors.
Trial 3: Found pattern for 4 rows, injecting 4 errors.
Trial 4: Found pattern for 49 rows, injecting 49 errors.
Trial 5: Found pattern for 56 rows, injecting 56 errors.
Trial 6: Found pattern for 24 rows, injecting 24 errors.
Trial 7: Found pattern for 370 rows, injecting 370 errors.
Trial 8: Found pattern for 233 rows, injecting 233 errors.
Trial 9: Found pattern for 636 rows, injecting 452 errors.
Trial 10: Found pattern for 358 rows, injecting 358 errors.
Trial 11: Found pattern for 673 rows, injecting 452 errors.
Trial 14: Found pattern for 24 rows, injecting 24 errors.
Trial 15: Found pattern for 937 rows, injecting 452 errors.
Trial 16: Found pattern for 23 rows, injecting 23 errors.
Injected 28 errors (1.86%). Best value: 0.83347
target_col: race, id: 5, cols: ('race', 'relationship', 'Y')
Trial 0: Found pattern for 322 rows, injecting 322 errors.
Trial 1: Found pattern for 28 rows, injecting 28 errors.
Trial 2: Found pattern for 354 rows, injecting 354 errors.
Trial 3: Found pattern for 6 rows, injecting 6 errors.
Trial 4: Found pattern for 42 rows, injecting 42 errors.
Trial 5: Found pattern for 64 rows, injecting 64 errors.
Trial 6: Found pattern for 955 rows, injecting 452 errors.
Trial 7: Found pattern for 300 rows, injecting 300 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 28 errors (1.86%). Best value: 0.83347
target_col: race, id: 5, cols: ('race', 'gender', 'Y')
Trial 0: Found pattern for 328 rows, injecting 328 errors.
Trial 1: Found pattern for 28 rows, injecting 28 errors.
Trial 2: Found pattern for 354 rows, injecting 354 errors.
Trial 3: Found pattern for 7 rows, injecting 7 errors.
Trial 4: Found pattern for 92 rows, injecting 92 errors.
Trial 5: Found pattern for 113 rows, injecting 113 errors.
Trial 6: Found pattern for 955 rows, injecting 452 errors.
Trial 7: Found pattern for 307 rows, injecting 307 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 28 errors (1.86%). Best value: 0.83347
target_col: race, id: 5, cols: ('race', 'hours', 'Y')
Trial 0: Found pattern for 192 rows, injecting 192 errors.
Trial 1: Found pattern for 28 rows, injecting 28 errors.
Trial 2: Found pattern for 354 rows, injecting 354 errors.
Trial 3: Found pattern for 21 rows, injecting 21 errors.
Trial 4: Found pattern for 22 rows, injecting 22 errors.
Trial 5: Found pattern for 29 rows, injecting 29 errors.
Trial 6: Found pattern for 955 rows, injecting 452 errors.
Trial 7: Found pattern for 185 rows, injecting 185 errors.
Trial 14: Found pattern for 382 rows, injecting 382 errors.
Injected 28 errors (1.86%). Best value: 0.83347
----------- ROUND BEST -----------
[(['gender', 'race', 'Y'], 0.7974934303618355), (['marital', 'race', 'Y'], 0.8149989892864362), (['gender', 'age', 'Y'], 0.8208206994137861)]
----------------------------------
NO IMPROVEMENT, EARLY STOP
Beam Search execution time: 139.43 seconds
TOP-k PATTERN:
[(('gender', 'Y'), [0.5941782898726501,       age  workclass  education  marital  relationship  race  gender  hours
0       0          7         11        0             0     1     1.0      1
1       0          7          8        2             1     0     1.0      0
2       1          7          8        2             1     1     1.0      1
3       0          7          8        2             1     1     1.0      1
4       0          3         10        2             0     1     NaN      0
...   ...        ...        ...      ...           ...   ...     ...    ...
1503    1          7         14        2             1     1     1.0      0
1504    1          3          8        1             0     1     NaN      0
1505    0          7          9        0             0     1     NaN      1
1506    0          7         10        2             1     1     1.0      1
1507    0          3          8        0             0     1     1.0      0

[1508 rows x 8 columns], 0       1
1       0
2       1
3       0
4       0
       ..
1503    1
1504    0
1505    0
1506    1
1507    0
Name: income, Length: 1508, dtype: int64]), (('marital', 'Y'), [0.6351728320194057,       age  workclass  education  marital  relationship  race  gender  hours
0       0          7         11      0.0             0     1       1      1
1       0          7          8      2.0             1     0       1      0
2       1          7          8      2.0             1     1       1      1
3       0          7          8      2.0             1     1       1      1
4       0          3         10      2.0             0     1       0      0
...   ...        ...        ...      ...           ...   ...     ...    ...
1503    1          7         14      2.0             1     1       1      0
1504    1          3          8      1.0             0     1       0      0
1505    0          7          9      NaN             0     1       0      1
1506    0          7         10      2.0             1     1       1      1
1507    0          3          8      NaN             0     1       1      0

[1508 rows x 8 columns], 0       1
1       0
2       1
3       0
4       0
       ..
1503    1
1504    0
1505    0
1506    1
1507    0
Name: income, Length: 1508, dtype: int64]), (('race', 'Y'), [0.7353547604608854,       age  workclass  education  marital  relationship  race  gender  hours
0       0          7         11        0             0   1.0       1      1
1       0          7          8        2             1   NaN       1      0
2       1          7          8        2             1   1.0       1      1
3       0          7          8        2             1   1.0       1      1
4       0          3         10        2             0   1.0       0      0
...   ...        ...        ...      ...           ...   ...     ...    ...
1503    1          7         14        2             1   1.0       1      0
1504    1          3          8        1             0   1.0       0      0
1505    0          7          9        0             0   1.0       0      1
1506    0          7         10        2             1   1.0       1      1
1507    0          3          8        0             0   1.0       1      0

[1508 rows x 8 columns], 0       1
1       0
2       1
3       0
4       0
       ..
1503    1
1504    0
1505    0
1506    1
1507    0
Name: income, Length: 1508, dtype: int64])]

In [17]:
r = top_results[0]
print(f'Missing data in column {r[0][0]} depending on columns {r[0]} could lead to an AUC drop of {clean_auc - r[1][0]}')

Missing data in column gender depending on columns ('gender', 'Y') could lead to an AUC drop of 0.25959167172023445

In [18]:
X_train_dirty = r[1][1]
X_train_dirty

      age  workclass  education  marital  relationship  race  gender  hours
0       0          7         11        0             0     1     1.0      1
1       0          7          8        2             1     0     1.0      0
2       1          7          8        2             1     1     1.0      1
3       0          7          8        2             1     1     1.0      1
4       0          3         10        2             0     1     NaN      0
...   ...        ...        ...      ...           ...   ...     ...    ...
1503    1          7         14        2             1     1     1.0      0
1504    1          3          8        1             0     1     NaN      0
1505    0          7          9        0             0     1     NaN      1
1506    0          7         10        2             1     1     1.0      1
1507    0          3          8        0             0     1     1.0      0

[1508 rows x 8 columns]

In [19]:
y_train_dirty = r[1][2]
y_train_dirty

0       1
1       0
2       1
3       0
4       0
       ..
1503    1
1504    0
1505    0
1506    1
1507    0
Name: income, Length: 1508, dtype: int64

In [64]:
X_train_dirty.to_csv("X_train_dirty.csv", index=False)
X_train_orig.to_csv("X_train_clean.csv", index=False)
X_val_orig.to_csv("X_val.csv", index=False)
X_test_orig.to_csv("X_test.csv", index=False)
y_train_dirty.to_csv("y_train.csv", index=False)
y_val.to_csv("y_val.csv", index=False)
y_test.to_csv("y_test.csv", index=False)

In [65]:
X_full = pd.concat([X_train_orig, X_val_orig, X_test_orig], axis=0)
X_full.to_csv("X_full.csv", index=False)

In [66]:
y_full = pd.concat([y_train, y_val, y_test], axis=0)
y_full.to_csv("y_full.csv", index=False)

In [67]:
y_val.shape

(376,)

In [68]:
y_test.shape

(376,)

In [69]:
print(X_train_dirty.isna().any(axis=1).sum())

171

In [70]:
clean_auc

0.8537699615928845

In [71]:
imputer = IterativeImputer(random_state=42)
model = LogisticRegression(random_state=42, max_iter=1000)
X_train_imputed = imputer.fit_transform(X_train_dirty)
ss = StandardScaler()
ss.fit(X_train_imputed)
model.fit(ss.transform(X_train_imputed), y_train_dirty)
y_pred = model.predict_proba(ss.transform(X_test_orig))
print(roc_auc_score(y_test, y_pred[:, 1]))

0.7353547604608854

In [72]:
if y_train.equals(y_train_dirty):
    print("The Series are identical.")
else:
    print("The Series are NOT identical. Proceeding to find differences...")

The Series are identical.

In [13]:
top_results = run_beam_search(X_train_orig, X_test_orig, y_train, y_test, pipeline, eod, budget, top_k=top_k)

Start Beam Search...

Beam search rounds:   0%|          | 0/2 [00:00<?, ?it/s]

Round 1 candidates:   0%|          | 0/1 [00:00<?, ?it/s]

Expanding candidate ['Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: age, id: 0, cols: ('age', 'Y')
Injected 150 errors (9.95%). Best value: -0.19563
target_col: workclass, id: 1, cols: ('workclass', 'Y')
Injected 146 errors (9.68%). Best value: -0.20542
target_col: education, id: 2, cols: ('education', 'Y')
Injected 99 errors (6.56%). Best value: -0.21720
target_col: marital, id: 3, cols: ('marital', 'Y')
Injected 24 errors (1.59%). Best value: -0.19975
target_col: relationship, id: 4, cols: ('relationship', 'Y')
Injected 150 errors (9.95%). Best value: -0.20096
target_col: race, id: 5, cols: ('race', 'Y')
Injected 150 errors (9.95%). Best value: -0.19724
target_col: gender, id: 6, cols: ('gender', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817
target_col: hours, id: 7, cols: ('hours', 'Y')
Injected 150 errors (9.95%). Best value: -0.22095
----------- ROUND BEST -----------
[(['gender', 'Y'], -0.4281736355969331), (['hours', 'Y'], -0.2209541035039611), (['education', 'Y'], -0.21719703263877826)]
----------------------------------

Round 2 candidates:   0%|          | 0/3 [00:00<?, ?it/s]

Expanding candidate ['gender', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: gender, id: 6, cols: ('gender', 'age', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817
target_col: gender, id: 6, cols: ('gender', 'workclass', 'Y')
Injected 33 errors (2.19%). Best value: -0.31642
target_col: gender, id: 6, cols: ('gender', 'education', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817
target_col: gender, id: 6, cols: ('gender', 'marital', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817
target_col: gender, id: 6, cols: ('gender', 'relationship', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817
target_col: gender, id: 6, cols: ('gender', 'race', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817
target_col: gender, id: 6, cols: ('gender', 'hours', 'Y')
Injected 54 errors (3.58%). Best value: -0.42817

Expanding candidate ['hours', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: hours, id: 7, cols: ('hours', 'age', 'Y')
Injected 150 errors (9.95%). Best value: -0.22095
target_col: hours, id: 7, cols: ('hours', 'workclass', 'Y')
Injected 138 errors (9.15%). Best value: -0.21652
target_col: hours, id: 7, cols: ('hours', 'education', 'Y')
Injected 150 errors (9.95%). Best value: -0.21682
target_col: hours, id: 7, cols: ('hours', 'marital', 'Y')
Injected 139 errors (9.22%). Best value: -0.25618
target_col: hours, id: 7, cols: ('hours', 'relationship', 'Y')
Injected 150 errors (9.95%). Best value: -0.22095
target_col: hours, id: 7, cols: ('hours', 'race', 'Y')
Injected 150 errors (9.95%). Best value: -0.22095
target_col: hours, id: 7, cols: ('hours', 'gender', 'Y')
Injected 150 errors (9.95%). Best value: -0.22095

Expanding candidate ['education', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: education, id: 2, cols: ('education', 'age', 'Y')
Injected 150 errors (9.95%). Best value: -0.21673
target_col: education, id: 2, cols: ('education', 'workclass', 'Y')
Injected 113 errors (7.49%). Best value: -0.20555
target_col: education, id: 2, cols: ('education', 'marital', 'Y')
Injected 150 errors (9.95%). Best value: -0.21657
target_col: education, id: 2, cols: ('education', 'relationship', 'Y')
Injected 150 errors (9.95%). Best value: -0.21673
target_col: education, id: 2, cols: ('education', 'race', 'Y')
Injected 150 errors (9.95%). Best value: -0.21673
target_col: education, id: 2, cols: ('education', 'gender', 'Y')
Injected 84 errors (5.57%). Best value: -0.22375
target_col: education, id: 2, cols: ('education', 'hours', 'Y')
Injected 150 errors (9.95%). Best value: -0.21673
----------- ROUND BEST -----------
[(['gender', 'age', 'Y'], -0.4281736355969331), (['gender', 'education', 'Y'], -0.4281736355969331), (['gender', 'marital', 'Y'], -0.4281736355969331)]
----------------------------------
NO IMPROVEMENT, EARLY STOP
Beam Search execution time: 148.93 seconds
TOP-k PATTERN:
[(('gender', 'Y'), -0.4281736355969331)]

In [14]:
r = top_results[0]
print(f'Missing data in column {r[0][0]} depending on columns {r[0]} could lead to an unfairness increase of {clean_eod-r[1]}')

Missing data in column gender depending on columns ('gender', 'Y') could lead to an unfairness increase of 0.23652730330363736

**Evaluation for loaded pipeline**

In [11]:
top_results = run_beam_search(X_train_orig, X_test_orig, y_train, y_test, loaded_pipeline, auc, budget, top_k=top_k)

Start Beam Search...

Beam search rounds:   0%|          | 0/2 [00:00<?, ?it/s]

Round 1 candidates:   0%|          | 0/1 [00:00<?, ?it/s]

Expanding candidate ['Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: age, id: 0, cols: ('age', 'Y')
Injected 150 errors (9.95%). Best value: 0.80716
target_col: workclass, id: 1, cols: ('workclass', 'Y')
Injected 109 errors (7.23%). Best value: 0.75343
target_col: education, id: 2, cols: ('education', 'Y')
Injected 150 errors (9.95%). Best value: 0.76626
target_col: marital, id: 3, cols: ('marital', 'Y')
Injected 150 errors (9.95%). Best value: 0.80883
target_col: relationship, id: 4, cols: ('relationship', 'Y')
Injected 150 errors (9.95%). Best value: 0.80735
target_col: race, id: 5, cols: ('race', 'Y')
Injected 28 errors (1.86%). Best value: 0.80663
target_col: gender, id: 6, cols: ('gender', 'Y')
Injected 150 errors (9.95%). Best value: 0.81241
target_col: hours, id: 7, cols: ('hours', 'Y')
Injected 150 errors (9.95%). Best value: 0.80263
----------- ROUND BEST -----------
[(['workclass', 'Y'], 0.7534277478380749), (['education', 'Y'], 0.766258018206884), (['hours', 'Y'], 0.8026250726338456)]
----------------------------------

Round 2 candidates:   0%|          | 0/3 [00:00<?, ?it/s]

Expanding candidate ['workclass', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: workclass, id: 1, cols: ('workclass', 'age', 'Y')
Injected 143 errors (9.48%). Best value: 0.73349
target_col: workclass, id: 1, cols: ('workclass', 'education', 'Y')
Injected 147 errors (9.75%). Best value: 0.73582
target_col: workclass, id: 1, cols: ('workclass', 'marital', 'Y')
Injected 84 errors (5.57%). Best value: 0.77963
target_col: workclass, id: 1, cols: ('workclass', 'relationship', 'Y')
Injected 125 errors (8.29%). Best value: 0.72810
target_col: workclass, id: 1, cols: ('workclass', 'race', 'Y')
Injected 125 errors (8.29%). Best value: 0.72810
target_col: workclass, id: 1, cols: ('workclass', 'gender', 'Y')
Injected 150 errors (9.95%). Best value: 0.80474
target_col: workclass, id: 1, cols: ('workclass', 'hours', 'Y')
Injected 139 errors (9.22%). Best value: 0.72703

Expanding candidate ['education', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: education, id: 2, cols: ('education', 'age', 'Y')
Injected 118 errors (7.82%). Best value: 0.73701
target_col: education, id: 2, cols: ('education', 'workclass', 'Y')
Injected 70 errors (4.64%). Best value: 0.78648
target_col: education, id: 2, cols: ('education', 'marital', 'Y')
Injected 45 errors (2.98%). Best value: 0.80133
target_col: education, id: 2, cols: ('education', 'relationship', 'Y')
Injected 150 errors (9.95%). Best value: 0.77698
target_col: education, id: 2, cols: ('education', 'race', 'Y')
Injected 57 errors (3.78%). Best value: 0.79954
target_col: education, id: 2, cols: ('education', 'gender', 'Y')
Injected 84 errors (5.57%). Best value: 0.76932
target_col: education, id: 2, cols: ('education', 'hours', 'Y')
Injected 84 errors (5.57%). Best value: 0.76932

Expanding candidate ['hours', 'Y']:   0%|          | 0/8 [00:00<?, ?it/s]

target_col: hours, id: 7, cols: ('hours', 'age', 'Y')
Injected 150 errors (9.95%). Best value: 0.76325
target_col: hours, id: 7, cols: ('hours', 'workclass', 'Y')
Injected 118 errors (7.82%). Best value: 0.76924
target_col: hours, id: 7, cols: ('hours', 'education', 'Y')
Injected 150 errors (9.95%). Best value: 0.73168
target_col: hours, id: 7, cols: ('hours', 'marital', 'Y')
Injected 150 errors (9.95%). Best value: 0.73345
target_col: hours, id: 7, cols: ('hours', 'relationship', 'Y')
Injected 150 errors (9.95%). Best value: 0.68493
target_col: hours, id: 7, cols: ('hours', 'race', 'Y')
Injected 150 errors (9.95%). Best value: 0.77500
target_col: hours, id: 7, cols: ('hours', 'gender', 'Y')
Injected 150 errors (9.95%). Best value: 0.77481
----------- ROUND BEST -----------
[(['hours', 'relationship', 'Y'], 0.6849320375075483), (['workclass', 'hours', 'Y'], 0.727027766067746), (['workclass', 'relationship', 'Y'], 0.7281044560152218)]
----------------------------------
Beam Search execution time: 20.97 seconds
TOP-k PATTERN:
[(('hours', 'relationship', 'Y'), 0.6849320375075483)]

In [12]:
r = top_results[0]
print(f'Missing data in column {r[0][0]} depending on columns {r[0]} could lead to an AUC drop of {clean_auc-r[1]}')

Missing data in column hours depending on columns ('hours', 'relationship', 'Y') could lead to an AUC drop of 0.13995602091854753